html {
  /* Kích hoạt smooth scrolling trên toàn bộ trang */
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  /* Đặt nền trắng cho body */
  background-color: #ffffff; 
}

#running-title {
  animation: runningText 15s linear infinite;
}

@keyframes runningText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}